<div class="login-form">
  <form  #f (submit)="register(f)">
    <h2 class="text-center">Connectez-vous</h2>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Adresse email" name="email" id="email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Mot de passe" name="password" id="password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Connexion</button>
    </div>
  </form>
</div>
