<fieldset>
<h1 class="titre">Les conditions générales d'utilisation</h1>
<div class="texte" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200">
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
    Benevolentiae honore enim admodum ut iucundius vel Nihil ita aedificio redamare studiorum vicissitudine ut delectari
    nihil quam animante nihil tam tam tam animante gloria amare possit gloria est eo amare aedificio gloria enim rebus
    enim possit ut ut eo vel tam iucundius qui nihil ita absurdum animante multis rebus animante studiorum vestitu vel
    enim aedificio absurdum vel vestitu ut ut ita iucundius eo honore vel inanimis gloria redamare nihil ut iucundius
    multis amare officiorumque amare studiorum benevolentiae corporis nihil qui ut vel non vicissitudine rebus admodum
    ut vestitu benevolentiae vestitu enim admodum rebus ut officiorumque ut iucundius tam benevolentiae animante.
</div>
<div class="clear"></div>
<div class="boutons">
  <div>
    <input type="checkbox" data-md-icheck (change)="verifvalide($event)" name="read" id="read" [disabled]="!returnCheck()" > J'accepte
  </div>
  <div>
    <input type="submit" class="btn btn-primary" [disabled]="!returnValide()"  name="valider" id="valider" (click)="ValidationDone()">
  </div>
</div></fieldset>
